<form action="/add" method="post">
	<label>Enter Name:</label>
	<input type="text" name="user_name" id="user_name">
	
	<label>Enter Growl:</label>
	<input type="text" name="new_growl" id="text_box">
	<input type="submit" value="Add Growl" id="submit_btn">
	
</form>

<a href='/'>Take me home</a>
<a href='/growls'>Show My Growls</a>
<p><%= @msg %></p>