<!DOCTYPE html>
<html>
	<head>
		<title>Growler Lab</title>
		<link type='text/css' rel='stylesheet' href='css/main.css'>
	</head>
	<body>
		<h1>Welcome to Growler!</h1>
	
		<%= yield %>
	
	</body>
</html>